{%extends 'base.html'%}

{%block content%}

<h2> Você escolheu o plano {{ nome_plano }}</h2>

<div class="formulario"></div>
    <h3> Antes de se matricular, realize seu cadastro</h2>
    <form action="" method="POST">
        <p>CPF</p>
        <input type="text" id="cpf" placeholder="Digite seu documento">

        <p> Nome Completo</p>
        <input type="text" id="nome" name="nome_usuario" placeholder="Digite seu nome">

        <p> E-mail</p>
        <input type="email" name="email" placeholder="Digite seu email">

        <p> Sexo</p>
        <select>
            <option value="masculino"> Masculino</option>
            <option value="feminino"> Feminino</option>

        </select>
        <p> Modalidade Escolhida:</p>
        <select name="modalidade" id="">

            <option value="judo"> Judô</option>
            <option value="jitsu"> Jiu-Jitsu</option>
            <option value="muay"> Muay Thai</option>
            <option value="boxe"> Boxe</option>
        </select>
        
    </form>

</div>