{% extends 'base.html' %}


{%block content%}

<link rel="stylesheet" href="../static/css/sobre.css">

<section class="inicio">
    <h2> Sobre nós </h2>
    
    <div class="conteudo">
    <img src="../static/images/logo.png" alt="foto da logo">

    <p> Na Mundo Marcial, acreditamos que o tatame é um reflexo da vida: ele nos ensina a cair, a levantar e a nunca desistir. Nossa missão é formar não apenas lutadores, mas cidadãos resilientes e confiantes, onde o respeito e a disciplina são a base de tudo o que construímos.
Mais do que um centro de treinamento, somos um refúgio para quem busca extravasar o estresse e encontrar sua melhor versão. Aqui, cada treino é uma oportunidade de superar limites físicos e mentais em um ambiente de mútua cooperação e amizade.
Venha fazer parte da nossa família e descubra que o seu maior adversário é você mesmo. A vitória começa no momento em que você decide cruzar nossa porta e se permitir evoluir. Seja mais forte do que ontem; o seu lugar é aqui no tatame.</p>
    </div>
</section>

{%endblock%}