.hero {
    height: 100vh;
    background-image: url('/static/images/dojo.jpg'); 
    background-size: cover;
    background-position: center;
}
.herotexto {
    position: absolute;
    top: 55%;
    left: 7%;
    transform: translateY(-50%);
    max-width: 500px;
    padding-left: 60px;
}

.herotexto h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    font-weight: bolder;
    color: white;
    line-height: 1.1;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.low {
    background-color: #3d1fdd;
    padding: 50px 0;
    color: #334f53;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    gap: 20px;
    box-shadow: 0 -40px 80px rgba(0,0,0,0.8);
}
.conteudo1{
    flex: 1;  
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: bold;
    max-width: 45%;
    margin-left: 60px;
    color: white;
}
.conteudo2{
    flex: 1;
    font-size: 25px;
    margin-top: 70px;
    max-width: 45%;
    color: white;
}

.logo {
    transform: translateY(5px);
    height: 70px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.topo {
    margin-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 14px;
}

.menu a:hover {
    color: #3511ff;
}
.lower{
    background-color: #2e17b7;
    box-shadow: 0 -20px 20px rgba(0,0,0,0.2)
}
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 60px 0;
}
.cards .card {
    width: 240px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    text-decoration: none;
    color: black;
    transition: transform .3s, box-shadow .3s;
}

.cards .card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.cards .card h3 {
    margin: 10px 0;
    font-weight: 600;
    font-family: 'Montserrat';
}

.cards .card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
