* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

@media (min-width: 768px) {
    .topo {
        flex-direction: row;
        justify-content: center;
        padding: 20px 40px;
        position: absolute;
        top: 0;
        gap: 40px;
    }

    .logo {
        height: 70px;
        transform: translateY(5px);
    }

    .menu a {
        font-size: 16px;
    }
}