<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Marcial</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header class="topo">
    <nav class="menu">
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <a href="index.html">Início</a>
        <a href="matricula.html">Matrícula</a>
        <a href="ajuda.html">Ajuda</a>
    </nav>
</header>

<section class="hero">
    <div class="herotexto">
        <h1>
            QUER TREINAR,<br>
            EVOLUIR E APRENDER<br>
            DEFESA PESSOAL?
        </h1>
    </div>
</section>

<section class="low">
    <div class="conteudo1">
        QUER TREINAR, EVOLUIR E APRENDER DEFESA
        PESSOAL? EXPLORE NOSSO SITE E FAÇA
        PARTE DO NOSSO TIME!
    </div>

    <div class="conteudo2">
        <strong>Temos 4 modalidades:</strong><br>
        <strong>Muay Thai, Boxe, Judô e Jiu-Jitsu.</strong><br><br>
        Para você que ainda não conhece as
        individualidades de cada arte,
        disponibilizamos mais informações
        nos cards logo abaixo:
    </div>
</section>
</body>
</html>
