<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Marcial</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet" type="text/css">

</head>

<body>
    <header class="topo">
        <nav class="menu">
            <img src="/static/images/logo.png" alt="Logo" class="logo">
                <a href="index.html">Início</a>
                <a href="matricula.html">Matrícula</a>
                <a href="ajuda.html">Ajuda</a>
        </nav>
    </header>
    <section class="hero">
        <div class="herotexto">
            <h1>MAIS VALE UM BOM SOCO NA HORA CERTA QUE MIL GOLPES ATIRADOS AO VENTO</h1>
        </div>
    </section>

    <section class="low">
        <div class="conteudo1">
            <p><b>QUER TREINAR, EVOLUIR E APRENDER DEFESA PESSOAL? EXPLORE NOSSO SITE E FAÇA PARTE DO NOSSO TIME!</b></p>
        </div>
        <div class="conteudo2">
            <p>Temos 4 modalidades:<br><b> Muay Thai, Boxe, Judô e Jiu-Jitsu.</b><br> Para você que ainda não conhece as individualidades de cada arte, disponibilizamos mais informações no cards abaixo.</p>
        </div>
    </section>

    <section class="lower">
    <div class="cards">

        <a href="thai.html" target="_blank" class="card">
            <img src="/static/images/thai.png" alt="Muay Thai">
            <h3>Muay Thai</h3>
        </a>

        <a href="judo.html" target="_blank" class="card">
            <img src="/static/images/judo.png" alt="Judo">
            <h3>Judô</h3>
        </a>

        <a href="boxe.html" target="_blank" class="card">
            <img src="/static/images/boxe.jpg" alt="Boxe">
            <h3>Boxe</h3>
        </a>

        <a href="jj.html" target="_blank" class="card">
            <img src="/static/images/jiu jitsu.jpg" alt="Jiu Jitsu">
            <h3>Jiu Jitsu</h3>
        </a>

    </div>
</section>

    </section>
</body>
</html>
